<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <!-- <add key='ethiopianapifeed' value='https://ethiopianairlines.pkgs.visualstudio.com/_packaging/ethiopianapifeed/nuget/v3/index.json' /> -->
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />  
  </packageSources>
 <packageSourceCredentials>
   <ethiopianapifeed>
     <add key="Username" value="TokenForDocker" />
     <add key="ClearTextPassword" value="7tsy4bbjosoqme2lcnioe3daf3wx2sedmyajys2bellp6sis67ka" />
   </ethiopianapifeed>
</packageSourceCredentials>
</configuration>


